@use '@picpay/picpay-design-system-web/dist/styles/border';
@use '@picpay/picpay-design-system-web/dist/styles/color';
@use '@picpay/picpay-design-system-web/dist/styles/font';
@use '@picpay/picpay-design-system-web/dist/styles/spacing';

@use '@material/elevation' as *;

@import '@picpay/web-styles/variables';

genius-center-button {
    position: absolute;
    width: 35%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: var(--apollo-background);
    border-radius: border.radius(full);
    @include elevation(3);
    cursor: pointer;
    transition: box-shadow 200ms $cubic-bezier, background-color 200ms $cubic-bezier;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: spacing.size(1);
    outline: none;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        border-radius: border.radius(full);
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: opacity, visibility 200ms $cubic-bezier;
    }

    &:focus:not(.--disabled) {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    &:hover:not(.--disabled) {
        @include elevation(8);
        background-color: var(--apollo-background-z2);
    }

    &:active:not(.--disabled) {
        @include elevation(4);
        background-color: var(--apollo-background-z3);
    }

    &.--disabled {
        cursor: default;
    }

    &.--countdown {
        .genius__action {
            &__countdown {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
                display: flex;
                max-height: 100px;
            }
        }
    }

    .genius__action {
        &__label {
            transform: rotateX(0deg);
            transform-style: preserve-3d;
            backface-visibility: hidden;
            transition: transform 300ms $cubic-bezier;
            perspective: 400px;
            font-size: font.size(4);
            font-weight: font.weight(bold);
            color: rgba(var(--apollo-on-background-rgb), 0.76);
            text-align: center;
            user-select: none;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            max-width: 100%;

            @include media-breakpoint-down(xs) {
                font-size: 0.8rem;
                letter-spacing: 0.02rem;
            }
        }
        &__countdown {
            transform: scale(0);
            transition: all 400ms $cubic-bezier;
            font-size: font.size(11);
            font-weight: 900;
            color: rgba(var(--apollo-on-background-rgb), 0.76);
            text-align: center;
            user-select: none;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            max-width: 100%;
            max-height: 0px;
            opacity: 0;
            visibility: hidden;
            display: none;

            @include media-breakpoint-down(xs) {
                font-size: 1rem;
            }
        }
    }
}
