@use '@picpay/picpay-design-system-web/dist/styles/font';

@import '@picpay/web-styles/variables';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
@import '@picpay/picpay-design-system-web/dist/styles/apollo';

html,
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
