@use '@picpay/picpay-design-system-web/dist/styles/border';
@use '@picpay/picpay-design-system-web/dist/styles/color';
@use '@picpay/picpay-design-system-web/dist/styles/font';
@use '@picpay/picpay-design-system-web/dist/styles/spacing';

@use '@material/elevation' as *;

@import '@picpay/web-styles/variables';

@mixin generate-button($color, $direction, $radius) {
    background-color: $color;
    background-image: radial-gradient(ellipse at $direction, $color 0%, darken($color, 35%) 100%);
    border-radius: $radius;

    &::before,
    &::after {
        border-radius: $radius;
    }

    &:hover,
    &:focus {
        background-image: radial-gradient(ellipse at $direction, lighten($color, 10%) 0%, darken($color, 35%) 100%);
    }

    &:focus {
        .genius__button {
            &__focus-feedback {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &:active,
    &.--pressed {
        transform: scale(0.985);
        perspective: 100px;
        background-image: radial-gradient(
            ellipse at $direction,
            #fff 0%,
            lighten($color, 10%) 30%,
            darken($color, 35%) 100%
        );
    }
}

genius-button {
    cursor: pointer;
    transition: transform 200ms $cubic-bezier, background-image 400ms $cubic-bezier;
    position: relative;
    overflow: hidden;
    outline: none;

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: transparent;
        box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.2), inset 10px 10px 20px rgba(255, 255, 255, 0.2);
        transition: box-shadow 400ms $cubic-bezier;
    }

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0px;
        right: 0%;
        background-color: transparent;
        box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.4);
        transition: box-shadow 400ms $cubic-bezier;
    }

    &.--disabled {
        pointer-events: none;
    }

    &.--top-left {
        grid-area: RED;
        @include generate-button(red, right bottom, 100% 0px 0px 0px);
        transform-origin: bottom right;

        .genius__button {
            &__focus-feedback {
                top: 100%;
                left: 100%;
            }
        }
    }

    &.--top-right {
        grid-area: GREEN;
        @include generate-button(green, left bottom, 0px 100% 0px 0px);
        transform-origin: bottom left;

        .genius__button {
            &__focus-feedback {
                top: 100%;
                right: 100%;
            }
        }
    }

    &.--bottom-left {
        grid-area: BLUE;
        @include generate-button(blue, right top, 0px 0px 0px 100%);
        transform-origin: top right;

        .genius__button {
            &__focus-feedback {
                bottom: 100%;
                left: 100%;
            }
        }
    }

    &.--bottom-right {
        grid-area: YELLOW;
        @include generate-button(yellow, left top, 0px 0px 100% 0px);
        transform-origin: top left;

        .genius__button {
            &__focus-feedback {
                bottom: 100%;
                right: 100%;
            }
        }
    }

    .genius__button {
        &__focus-feedback {
            width: 80%;
            height: 0px;
            padding-top: 80%;
            position: absolute;
            top: 0%;
            left: 0%;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: border.radius(full);
            opacity: 0;
            visibility: hidden;
            transition: opacity, visibility 200ms $cubic-bezier;
        }
    }
}
